/* indice */
/* variables */
/* estilos globales */
/* body */
/* barra de navegacion */
/*main*/
/* aside */
/* elemento del aside */
/* root */
/* sub header */
/* contenedor de la giya de videos */
/* video */
/* breakpoint */
/* SD */
/* MD */
/* LD */
/* XL */

/* variables */
:root {
  --hover: #e0e0e0;
}

/* estilos globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.bor {
  width: 100%;
  border: 1px solid rgb(243, 243, 243);
}

/* body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* barra de navegacion */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.678);
}

.content-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}

.option {
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.option:hover {
  background: var(--hover);
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logow {
  display: flex;
  cursor: pointer;
}

.logow img {
  display: flex;
  width: 7rem;
}

.pais {
  position: relative;
  bottom: -15px;
  left: 0px;
  font-size: 10px;
  color: rgb(116, 114, 114);
  cursor: default;
}

.busqueda {
  display: flex;
  width: 40%;
  justify-content: end;
}

.conten-txt-lup {
  display: flex;
}

.conten-txt-lup input {
  display: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  border: 1px solid rgb(207, 205, 205);
}

.conten-txt-lup input:focus {
  border: 1px solid rgb(1, 1, 143);
}

.conten-txt-lup input:placeholder-shown {
  font-size: 19px;
}

.lupa {
  width: max-content;
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.lupa:hover {
  background: var(--hover);
}

.mis {
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.mis:hover {
  background: var(--hover);
}

.box {
  display: flex;
  align-items: center;
}

.crear {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 9px 19px;
  height: 2.56rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.crear:hover {
  background: rgb(223, 222, 222);
}

.noti {
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.noti:hover {
  background: var(--hover);
}

.user {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
}

.user img {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

/*main*/
main {
  display: flex;
  height: 100%;
}

/* aside */
aside {
  display: none;
  position: absolute;
  padding: 10px;
  width: 250px;
  height: 100%;
}

/* elemento del aside */
.conten {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.boxx {
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.list:hover {
  background: var(--hover);
}

.list-t {
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
}

.txt-lis {
  font-weight: bold;
}

.icon-c {
  width: max-content;
}

.icon-c img {
  border-radius: 100%;
  width: 2rem;
}

.txt-li {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info {
  text-align: justify;
  padding: 16px 20px 0 20px;
}

.info a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(109, 109, 109);
}

.copyright {
  text-align: justify;
  padding: 10px 0 10px 15px;
  font-size: 13px;
  color: #b1b0b0;
}

/* root */
.root {
  width: 100%;
}
/* sub header */
.content-sub {
  width: 100%;
  overflow-x: auto;
  position: sticky;
  z-index: 1;
  top: 60px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.678);
  scroll-behavior: smooth;
  anchor-name: --carousel;
}

.content-sub::-webkit-scrollbar {
  display: none;
}

.content-sub::scroll-button(right),
.content-sub::scroll-button(left) {
  content: ">";
  border: none;
  background: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -100%;
}

.content-sub::scroll-button(left) {
  content: "<";
  position-anchor: --carousel;
  position-area: left center;
  translate: 45px;
}

.content-sub::scroll-button(right):disabled,
.content-sub::scroll-button(left):disabled {
  opacity: 0;
  cursor: auto;
}

.content-sub::scroll-button(left):hover {
  background: var(--hover);
}

.content-sub::scroll-button(right):hover {
  background: var(--hover);
}

.flex {
  display: flex;
  list-style: none;
  padding: 0 8px;
}

.btn {
  background: rgb(243, 243, 243);
  padding: 7px;
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 5px;
  margin: 12px 12px 12px 0;
  cursor: pointer;
}

/* contenedor de la giya de videos */
.griya {
  height: 100%;
}

.content-griya {
  display: grid;
  gap: 10px;
  padding: 24px;
}

.content-griya {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}

/* video */
.video {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
}

.mini {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}

.mini img {
  width: 100%;
  height: 16rem;
  border-radius: 20px;
}

.mini img:hover {
  border-radius: 0px;
}

.minu {
  position: absolute;
  background-color: #292828;
  color: white;
  padding: 1px 4px;
  border-radius: 4px;
  margin: 8px;
  font-size: 13px;
}

.titel-v {
  font-weight: bold;
}

.titel-video {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.info-video {
  display: flex;
  gap: 20px;
}

.canal-img img {
  width: 3rem;
  border-radius: 100%;
}

.name-canel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(97, 97, 97);
}

.name-canel span:hover {
  color: black;
}

.meda {
  width: 15px;
  fill: #747171;
}

.option.video {
  width: 4rem;
  height: 3rem;
  display: flex;
  align-self: flex-start;
}

.visual {
  color: rgb(97, 97, 97);
}

.urlv {
  text-decoration: none;
  color: black;
}

.content-shorts {
  display: none;
}

/* breakpoint */
/* SD */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {
  .content-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.678);
  }

  .conten-txt-lup {
    display: flex;
    flex: 0;
  }

  .conten-txt-lup input {
    display: flex;
    flex: 1;
    border-radius: 20px 0 0 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border: 1px solid rgb(207, 205, 205);
  }

  .lupa {
    padding: 10px;
    border-radius: 0 20px 20px 0;
    background: rgb(250, 250, 250);
    border: none;
    border: 1px solid rgb(207, 205, 205);
    cursor: pointer;
  }

  .busqueda {
    display: flex;
    gap: 10px;
    margin: 0 5px;
  }

  main {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  aside {
    display: flex;
    position: sticky;
    left: 0;
    padding: 10px;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
  }
  /* Estilos para ocultar la barra de desplazamiento en diferentes navegadores */
  aside::-webkit-scrollbar {
    display: none; /* Para navegadores basados en WebKit (Chrome, Safari) */
  }

  aside {
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    scrollbar-width: none; /* Para Firefox */
  }
  .conten {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: fit-content;
  }

  .root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .content-sub {
    width: 100%;
    overflow-x: auto;
    position: sticky;
    top: 0px;
  }
  .content-griya {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .content-shorts {
    display: none;
  }
}

/* MD */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {
  .aside {
    display: none;
  }
  .asidemd {
    width: 85px;
  }
  .contenmd {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 10px;
  }

  .listmd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 0 14px;
    border-radius: 10px;
    cursor: pointer;
  }
  .listmd:hover {
    background: var(--hover);
  }
  .content-griya {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
  .content-shorts {
    display: none;
  }
}

/* LD */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
  .asidemd {
    display: none;
  }
  .aside {
    display: block;
  }
  .content-griya {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
  }
  .content-shorts {
    display: none;
  }
}

/* XL */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
  .content-griya {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
  }
  .content-shorts {
    display: block;
    width: 100%;
    padding: 24px;
  }

  .conten-shorts {
    display: flex;
    gap: 20px;
  }

  .titel-shorts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-bottom: 16px;
  }

  .shorts {
    width: 15rem;
    height: fit-content;
    cursor: pointer;
  }

  .mini-shorts {
    height: 100%;
    width: 100%;
  }

  .mini-shorts img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .content-txt-shorts {
    width: 100%;
    display: flex;
  }

  .titel-sh {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .views-shorts {
    color: #747171;
    font-size: 15px;
  }
  .option-shorts {
    width: fit-content;
    height: fit-content;
  }

  .titel-sh {
    width: 200px;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
}
